<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    {{>../partials/header}}
    {{>../partials/slider}}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Hola soy el home modificado</h1>
                    <a href="#" class="btn btn-danger">Ejemplo de botón</a>
                    <canvas id="myChart" width="400" height="150"></canvas>
                </div>
            </div>
        </div>
    </section>
</body>
</html>